doctype html
head
	meta(http-equiv="refresh", content="1;url=/")
	link(rel="stylesheet", href="/style.css", charset="utf-8")
body
	h1 Hello World!
	p Hot Replacing on server side is cool :)
	table
		tr
			th Require time:
			td= requireTime
		tr
			th Request time:
			td= currentTime
